body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 182, 222);
}
#root{
    width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(121, 24, 121);
    text-align: center;
}

button{
    width: 70px;
    height: 60px;
    margin-right: 10px;

}

.counter{
    height: 200px;
    width: 300px;
    background-color: antiquewhite;
    text-align: center;
}