body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#heading{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 136, 241);
}

h1{
    font-size: 40px;
    color:black;
    font-weight: bold;
    
}

.Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
}

img{
    height: 200px;
    border-radius: 50%;
}
.cards{
    padding: 20 px 5px;
    text-align: center;
    border: 2px solid black;
    margin-left: 20px;
    margin-top: 20px;
}

.but{
    margin-top: 20px;

}

.input{
    margin-left: 40vw;
    width: 200px;
    height: 40px;
    font-size: 25px;
    padding: 2vw;
}
button{
    height: 40px;
    background-color: rgb(88, 6, 165);
    color: black;
    margin-left: 1vw;
}