body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first{
    background-color: antiquewhite;
    height: 200px;
    width: 400px;
    text-align: center;
}

button{
    height: 80px;
    font-size: 20px;
    background-color: palevioletred;
    margin-right: 10px;

}