# Node dependencies
node_modules/

# Build files
dist/
.parcel-cache/
build/

# Env files
.env
.env.local

# Logs
npm-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
